.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(236, 216, 189);
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 400px;
    height:500px;
    margin: 10px;
    text-align: center; 
    line-height: 75px;
    font-size: 30px;
  }

   .bar{
    border-width:10px;
    border-style: solid;
    width:700px !important;
    height:500px !important;
    
  }
  .line{
    border-width:10px;
    border-style: solid;
    width:700px !important;
    height:500px !important;
  }
  .pie{
        border-width:10px;
        border-style: solid;
        width:700px !important;
    height:500px !important;
        }

  