.header {
  padding: 20px;
  text-align: center;
  background: skyblue;
  color: white;
  font-size: 30px;
  margin: 0px;
}
.footer{
  padding: 20px;
  background:skyblue;
  text-align: center;
  color: white;
  font-size:30px;
}

